
<div class="row">
    <div class="col-lg-3">
        <div class="ibox">
            <div class="ibox-content">
                <h5>Estudiantes registrados</h5>
                <h1 class="no-margins"> {{{numOfStudents}}} </h1>
                <div class="stat-percent font-bold text-navy">000% <i class="fa fa-bolt"></i></div>
                <small>Total</small>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="ibox">
            <div class="ibox-content">
                <h5>Usuarios registrados</h5>
                <h1 class="no-margins"> {{{numOfUsers}}} </h1>
                <div class="stat-percent font-bold text-navy">000% <i class="fa fa-bolt"></i></div>
                <small>Total</small>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="ibox">
            <div class="ibox-content">
                <h5>Temas registrados</h5>
                <h1 class="no-margins"> {{{numOfTemas}}} </h1>
                <div class="stat-percent font-bold text-navy">000% <i class="fa fa-bolt"></i></div>
                <small>Total</small>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="ibox">
            <div class="ibox-content">
                <h5>Categorias</h5>
                <h1 class="no-margins">{{{numCategorias}}}</h1>
                <div class="stat-percent font-bold text-navy">000% <i class="fa fa-bolt"></i></div>
                <small>Total</small>
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="ibox">
            <div class="ibox-content">
                <h5>Lecciones</h5>
                <h1 class="no-margins">{{{numLecciones}}}</h1>
                <div class="stat-percent font-bold text-navy">000% <i class="fa fa-bolt"></i></div>
                <small>Total</small>
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="ibox">
            <div class="ibox-content">
                <h5>Ejemplos</h5>
                <h1 class="no-margins">{{{numEjemplos}}}</h1>
                <div class="stat-percent font-bold text-navy">000% <i class="fa fa-bolt"></i></div>
                <small>Total</small>
            </div>
        </div>
    </div>


    <div class="col-lg-3">
        <div class="ibox">
            <div class="ibox-content">
                <h5>Listening</h5>
                <h1 class="no-margins">{{{numListening}}}</h1>
                <div class="stat-percent font-bold text-navy">000% <i class="fa fa-bolt"></i></div>
                <small>Total</small>
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="ibox">
            <div class="ibox-content">
                <h5>Speaking</h5>
                <h1 class="no-margins">{{{numSpeaking}}}</h1>
                <div class="stat-percent font-bold text-navy">000% <i class="fa fa-bolt"></i></div>
                <small>Total</small>
            </div>
        </div>
    </div>


    <div class="col-lg-3">
        <div class="ibox">
            <div class="ibox-content">
                <h5>Examenes</h5>
                <h1 class="no-margins">{{{numExam}}}</h1>
                <div class="stat-percent font-bold text-navy">000% <i class="fa fa-bolt"></i></div>
                <small>Total</small>
            </div>
        </div>
    </div>
</div>
